<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/css/styles.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercadoliebre</title>
</head>
<body>
<header class='cabecera''
    <section id='primera'>
        <img id='logo' src='/img/logo-mercado-liebre.svg' alt="Logo">
        <div><input type="text"><span><i id="lupa" class="fas fa-search"></i></span></div>
    </div>
</section>
    <div id="subtitulo" align='center'><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas sin interés y sin tarjeta de crédito</div>
    <nav id='listas'>
    <ul id='segunda'>
        <li><a href#Ofertas>Ofertas</a></li>
        <li><a href#Tiendas Oficiales>Tiendas Oficiales</a></li>
        <li><a href#Vender>Vender</a></li>
        <li><a href#Ayuda>Ayuda</a></li>
    </ul>
    <ul id='tercera'>
        <li><a href#Creá tu cuenta>Creá tu cuenta<i class="far fa-id-card"></i></a></li>
        <li><a href#Ingresá>Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
        <li><a href#Mis compras>Mis Compras<i class="fas fa-shopping-basket"></i></a></li>
    </ul></nav>
    <div align='center' class="burger-menu">
        <i class="fas fa-bars"></i>
        </div>
</header>
<img src="img/img-home-banner.jpg" class="Banner">
<main>
    <section>
        <h3>Basado en tu ultima visita</h3>
        <article class="producto">
            <img height='300' width='300' src="img/img-cafetera-moulinex.jpg" alt="Cafetera" class='fotos'>
            <div class="caja">     
                <i id="carrito" class="fas fa-truck-moving"></i>
                <div class='precio'>$6.770</div>
                <div class='descuento'>40% OFF</div>
                <h4>Cafetera Moulinex</h4>
            </div>
        </article>   
        <article class="producto">
            <img height='300' width='300'src="img/img-macbook-pro-2019.jpg" alt='macbook' class='fotos'>
            <div class="caja"> 
                <i id="carrito" class="fas fa-truck-moving"></i>
                <div class='precio'>$230.000</div>
                <div class='descuento'>20% OFF</div>
                <h4>Mac Book Pro 2019</h4>
            </article>
        </div>
        <article class="producto">
            <img height='300' width='300'src="img/img-samsung-galaxy-s10.jpg" alt='celular' class='fotos'>
            <div class="caja"> 
                <i id="carrito" class="fas fa-truck-moving"></i>
                <div class='precio'>$70.500</div>
                <div class='descuento'>10$ OFF</div>
                <h4>Samsung Galaxy S10</h4>
            </div>
        </article>
        <article class="producto">
            <img height='300' width='300'src="img/img-tv-samsung-smart.jpg" alt='tv' class='fotos'>
            <div class="caja">
                <i id="carrito" class="fas fa-truck-moving"></i>
                <div class='precio'>$23.200</div>
                <div class='descuento'>5% OFF</div>
                <h4>Smart TV Samsumg 43</h4>  
            </div>
        </article>
    </section>
    <section>
        <h3>Ofertas</h3>
        <article class="producto">
            <img height='300' width='300' src="img/img-cafetera-moulinex.jpg" alt="Cafetera">
            <div class="caja">     
                <i id="carrito" class="fas fa-truck-moving"></i>
                <div class='precio'>$6.770</div>
                <div class='descuento'>40% OFF</div>
                <h4>Cafetera Moulinex</h4>
            </div>
        </article>   
        <article class="producto">
            <img height='300' width='300'src="img/img-macbook-pro-2019.jpg" alt='macbook' class='fotos'>
            <div class="caja"> 
                <i id="carrito" class="fas fa-truck-moving"></i>
                <div class='precio'>$230.000</div>
                <div class='descuento'>20% OFF</div>
                <h4>Mac Book Pro 2019</h4>
            </div>
        </article>
        <article class="producto">
            <img height='300' width='300'src="img/img-samsung-galaxy-s10.jpg" alt='celular' class='fotos'>
            <div class="caja"> 
                <i id="carrito" class="fas fa-truck-moving"></i>
                <div class='precio'>$70.500</div>
                <div class='descuento'>10$ OFF</div>
                <h4>Samsung Galaxy S10</h4>
                </div>
            </div>
        </article>
        <article class="producto">
            <img height='300' width='300'src="img/img-tv-samsung-smart.jpg" alt='tv' class='fotos'>
            <div class="caja">
                <i id="carrito" class="fas fa-truck-moving"></i>
                <div class='precio'>$23.200</div>
                <div class='descuento'>5% OFF</div>
                <h4>Smart TV Samsumg 43"</h4>  
            </div>
        </article>
    </section>
</main>
<footer>
    <article class='pie'>
      <i class="fas fa-credit-card"></i>
      <h4>Pagá con tarjeta de crédito</h4>
      <p>Con Mercado Liebre Cash, tenés cuotas sin</p> <p>interés con tarjetao efectivo en
    puntos de</p><p>pago.¡Y siempre es seguro!</p>
    </article>
    <article class='pie'>
      <i class="fas fa-gift"></i>
      <h4>Envío gratis desde $ 2.500</h4>
      <p>Solo por estar registrad@ en Mercado Liebre</p><p> tenés envíos gratis en miles de
      productos. Es</p><p>un beneficio de Mercado Puntos.
      </p>
    </article>
    <article class='pie'>
      <i class="fas fa-user-shield"></i>
      <h4>Seguridad, de principio a fin
      </h4>
      <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre,</p><p> no hay nada que no puedas hacer,
      porque</p><p>estás siempre protegid@.
      </p>
    </article>
    <article>
      <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
    </article>
</footer>
</body>
</html>
