<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/abae39190c.js" crossorigin="anonymous"></script>
</head>
<body>

    <header class="main-header">
        <div class="main-header-top-bar">
            <div class=".main-header-top-bar-flex">
                <div class="logo-flex">
                    <img src="/images/logo-mercado-liebre.svg" class="logo">
                </div>
                <h2 class="barra">Lugar para poner la barra de busqueda <i class="fas fa-search"></i></h2>
        </div>
            <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de credito
            </h2>
        </div>
        <a href="#" class="burger-button">
            <i class="fas fa-bars"></i>
        </a>
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas </a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="/register">Crea tu Cuenta <i class="far fa-address-card"></i></a></li>
                <li><a href="#">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis Compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
    </header>
    <img src="/images/img-home-banner.jpg" class="banner" >
    <main>
         <h2 class="titulares">Basado en tu última visita</h2>
        <section>
            <article class="caja-general">
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" class="imagenes">
                <div class="caja">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% OFF</p>
                    <p class="description">Cafetera Moulinex</p>
                </div>
            </article>
        
            <article class="caja-general">
                <img src="/images/img-macbook-pro-2019.jpg" alt="Macbook Pro 2019" class="imagenes">
                <div class="caja">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% OFF</p>
                    <p class="description">Macbook Pro 2019</p>
                </div>
            </article>
            <article class="caja-general">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" class="imagenes">
                <div class="caja">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% OFF</p>
                    <p class="description">Samsung Galaxy S10</p>
                </div>
            </article>

            <article class="caja-general">
                <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43" class="imagenes">
                <div class="caja">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% OFF</p>
                    <p class="description">SmartTv Samsung 43"</p>
                </div>
            </article>
        </section>
        <h2 class="titulares">Sección de Ofertas</h2>
        <section>
            
            <article class="caja-general">
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" class="imagenes">
                <div class="caja">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% OFF</p>
                    <p class="description">Cafetera Moulinex</p>
                </div>
            </article>

            <article class="caja-general">
                <img src="/images/img-macbook-pro-2019.jpg" alt="Macbook Pro 2019" class="imagenes">
                <div class="caja">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% OFF</p>
                    <p class="description">Macbook Pro 2019</p>
                </div>
            </article>
            <article class="caja-general">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" class="imagenes">
                <div class="caja">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% OFF</p>
                    <p class="description">Samsung Galaxy S10</p>
                </div>
            </article>

            <article class="caja-general">
                <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43" class="imagenes">
                <div class="caja">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% OFF</p>
                    <p class="description">SmartTv Samsung 43"</p>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <article class="txt-foot">
            <i class="fas fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </article>
        <article class="txt-foot">
            <i class="fas fa-gift"></i>
            <h3>Envio gratis desde los $2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </article>
        <article class="txt-foot">
            <i class="fas fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </article>
        <article >
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </article>
    </footer>

</body>