body {
    font-family: 'Roboto', sans-serif;
    background-color: #EAC926;

}

nav{
    display: none;
}
#logo{
    height: 300px;
    width: 50vw;
}
section div{
    width: 50vw;
}

#primera{
    display: flex;
    align-items: center;
}

main {
    text-align: center;
    width: 90vw;
    margin:auto;
}

.caja{
    border-top: solid 1px #ebebeb;
    text-align: start;
}
.caja h4{
    font-size: 16px;
    display: none;
}
h3{
    font-size: 24px;
}

.linea{
    display: flex;
}
article{
    background-color: white;
    margin:10px;
    padding: 15px;

}
.precio {
    font-size: 18px;
    display: flex;
    flex-grow: 0.3;
}

p{
    font-size: 12px;
}
.descuento {
    font-size: 16px;
    display: flex;
    flex-grow: 0.7;
}

.burger-menu{
   background-color: #03264C;
    color: white;
    font-size: 24px;
    width:30px;
    display: none;
    margin: auto;
}

footer {
    text-align: center;
}
footer h4{
    line-height: 20px;
}

footer p{
    line-height: 3px;
}

footer i{
    margin-bottom: 10 px;
    font-size: 2em;
    color: #03264C;

}

#carrito{
    font-size: 2em;
    color: #39b54a;
    display: flex;
    justify-content: flex-end;

}

#lupa{
    background-color: white;
}


    @media (min-width: 361px){
        .caja h4{
            display: block;
        }
        .producto{
            box-shadow: 0px 0px 10px rgb(100, 100, 100);
        }
         nav{
          display:block;
      }
    }
    @media (max-width: 769px){
        .burger-menu{
            display:block;
        }
    }
