body {
    font-family: 'Roboto', sans-serif;
    background-color: #EAC926;

}

p{
    font-size: 12px;
}

.cabecera{
  background-color: #EAC926;
  padding: 20px;
}

#primera{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#primera div{
    font-size: 17px;
    font-weight: 400;
    flex-grow: 0.5;
}

#subtitulo{
  font-weight: 400;
  text-align: center;
  margin-bottom: 10px;
}

#listas{
  display: none;
}

#listas ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

#listas{
  text-decoration: none;
  display: inline-block;
  padding: 5px 0;
  font-size: 17px;
}

#listas a{
  text-decoration: none;
  color: #222222;
  display: inline-block;
  padding: 5px 0;
  font-size: 17px;
}

#logo{
    flex-grow: 0.5;
}

.burger-menu{
   background-color: #03264C;
    color: white;
    font-size: 24px;
    width: 30px;
    display: none;
    margin: auto;
    border-radius: 2px;
}

.banner{
  width:100%;
}

main {
    text-align: center;
    width: 90vw;
    margin:auto;
    display: block;
}

main section{
  margin: auto;
  background-color: white;
}

.producto{
  background-color: white;
  margin: 10px 0;
  padding: 15px;
}

.caja{
    border-top: solid 1px #ebebeb;
    padding: 15px;
    text-align:start;
    position: relative;
    display: flex;
}

#carrito{
display: block;
font-size: 16px;
padding: 5px;
width: 30px;
height: 30px;
border: 1px solid #5cf871;
color:#5cf871;
background-color: #FFF;
border-radius: 50%;
position: absolute;
right: 20px;
top: -15px;
text-align: center;
}

h3{
  font-size: 24px;
  margin: 30px 0
}

.precio {
    font-size: 18px;
    line-height: 0px;
    display: block;
    flex-grow: 1.3;
}

.descuento {
    font-size:16px;
    color: #39b54a;
    display: block;
    flex-grow: 1.7;
}

.caja h4{
  font-size: 16px;
  display: none;
}

footer {
    text-align: center;
}
footer h4{
    line-height: 20px;
}

footer p{
    line-height: 3px;
}

footer i{
    margin-bottom: 10 px;
    font-size: 2em;
    color: #03264C;

}


#lupa{
    background-color: white;
}


    @media (min-width: 361px){
        .caja h4{
            display: block;
        }
        .producto{
            box-shadow: 0px 0px 10px rgb(100, 100, 100);
        }
         nav{
          display:block;
      }
    }
    @media (max-width: 769px){
        .burger-menu{
            display:block;
        }
    }
